
@{
    ViewData["Title"] = "Detail";
}

<div class="alert alert-primary" role="alert">
    <h2>Top 10 Truong dai hoc tot nhat TP. HCM</h2>
</div>

<div class="">
    <div class="card">
        <h5 class="card-header">1. HCMUTE</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/01/01.opener_web2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                </div>
                <div class="col-sm-9">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                    <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-2">

<div class="">
    <div class="card">
        <h5 class="card-header">2. HUF</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/01/01.opener_web2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                </div>
                <div class="col-sm-9">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                    <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-2">