
@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-dark" role="alert">
    <h2>University Rank</h2>
</div>

<hr class="my-1">

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/01/01.opener_web2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/02/bestcologob500px-2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/01/01.opener_web2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Đầu tư vào chất gỗ thay vì nước sơn, Google Pixel 3a tạo ra một loại smartphone Android tầm trung hoàn toàn mới</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/02/bestcologob500px-2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/01/01.opener_web2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/02/bestcologob500px-2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
    </div>

</div>

<div class="card">
    <div class="card-body bg-secondary">
        Online School Rank
    </div>
</div>

<hr class="my-1">

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/01/01.opener_web2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/02/bestcologob500px-2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-4">

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/01/01.opener_web2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Đầu tư vào chất gỗ thay vì nước sơn, Google Pixel 3a tạo ra một loại smartphone Android tầm trung hoàn toàn mới</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/02/bestcologob500px-2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-4">

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/01/01.opener_web2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="https://fortunedotcom.files.wordpress.com/2019/02/bestcologob500px-2.jpg?w=154&h=154&crop=1" alt="Card image cap">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">Here are the World's Most Admired Companies for 2019 as ranked in their industries. See wh...</p>
                        <a asp-controller="TalentVN.SchoolRank" asp-action="Detail" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

